.equipos-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  gap: 20px;
}

.equipo-card {
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #003466; /* fondo de respaldo si no carga la imagen de patrón */
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.estadio {
  width: 120px;
  height: auto;
  margin: 10px 0;
}

.btn {
  background-color: white;
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.bpRpqo {
  height: auto;
  position: relative;
  background: url(https://www.laliga.com/backgrounds/pattern.svg) center top / cover no-repeat #003466;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
}

.equipos-fundacion {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* Responsive para pantallas grandes a medianas */
@media (max-width: 1200px) {
  .equipos-container {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

@media (max-width: 900px) {
  .equipos-container {
    grid-template-columns: repeat(3, minmax(120px, 1fr));
  }
}

@media (max-width: 600px) {
  .equipos-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 400px) {
  .equipos-container {
    grid-template-columns: 1fr;
  }

  .bpRpqo{
    width: 70%;
    margin: 0 5px;
  }
}