.jornadas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* 2 columnas automáticas */
  gap: 20px;
  padding: 0px 10%;
}

.jornada {
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f9f9f9;
}

.jornada-subtitulo {
  background-color: #00001B;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.equipo.equipo-local,
.equipo.equipo-visitante {
  display: flex;
  align-items: center;
}

.partidos {
  display: flex;
  flex-direction: column;
}

.partido {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-top: 1px solid #eee;
  background-color: white;
}

.partido:nth-child(even) {
  background-color: #f3f3f3;
}

.partido img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding: 0px 10px;
}

.partido span {
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.jornada-titulo {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  color: white;
  background-color: #003466; /* rojo similar al de la imagen */
  padding: 16px;
  margin: 0;
  font-family: 'Arial Black', sans-serif; /* o una similar a la de LaLiga */
  background-image: url("/logos/pattern.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

.span-link{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: "LaLiga Text";
    font-size: 12px;
    line-height: 120%;
}

.enlaces {
    display: flex;
}
.link {
    color: white;
    padding: 0px 3px;
    text-decoration: none;
}